# copy to --> /etc/systemd/system/dummy.service

[Unit]
Description=Dummy Service
After=network.target dummy.socket
Requires=dummy.socket

[Service]
Type=simple
ExecStart=/tmp/dummy_service/serve.py
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
