# copy to --> /etc/systemd/system/
[Unit]
Description=Dummy Socket
PartOf=dummy.service

[Socket]
ListenStream=127.0.0.1:9999

[Install]
WantedBy=sockets.target
